<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %} Site X - Um exemplo para frame {% endblock %}</title>
				
	<meta name="description" content="Uma descrição legal">
	<meta name="keywords" content="Site, exemplo">
	<meta name="robots" content="index, follow">
	<meta name="author" content="caironm.com">
				
	<meta property="og:site_name" content="Site X" />
	<meta property="og:url" content="sitex.com.br" />
	<meta property="og:title" content="Site X - Um exemplo para frame" />
	<meta property="og:description" content="Uma descrição legal" />
	<meta property="og:image" content=" "/>
				
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content=" ">
	<meta name="twitter:title" content="TripSeason - Casas, hoteis e passeios em Pipa">
	<meta name="twitter:description" content="Uma descrição legal">

	<link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}public/icons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}public/icons/favicon-32x32.png">
	<link rel="shortcut icon" href="{{ base_url }}public/icons/favicon.ico">
				
	<link rel="apple-touch-icon" href="{{ base_url }}public/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ base_url }}public/icons/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ base_url }}public/icons/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ base_url }}public/icons/touch-icon-ipad-retina.png">
	<link rel="apple-touch-startup-image" href="{{ base_url }}public/icons/apple-touch-icon.png">
				
	<meta name="msapplication-TileColor" content="#66C0E9">
	<meta name="msapplication-TileImage" content="{{ base_url }}public/icons/ms-icon-144x144.png">
	<meta name="apple-mobile-web-app-title" content="Site X - Um exemplo para frame">
	<meta name="application-name" content="Site X - Um exemplo para frame">
	<meta name="theme-color" content="#66C0E9">
				
	<link href="{{ base_url }}public/css/style.css?v=1" rel="stylesheet" media="all" >
				
	<meta content="origin" name="referrer">
				
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
					
	</head>
<body>

{% if feedback!= '' %}
	<div class="alert alert-{{ alert }} alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ feedback }}
	</div>
{% endif %}

		
	{% block content %}{% endblock %}
	
			
		<script src="{{ base_url }}public/js/app.js?v=1"></script>
		
	</body>
</html>